* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

button {
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 4px;
    font-size: x-large;
    padding: 1rem 2rem;
}

button:active {
    background-color: gray;
    transform: translateY(2px);
    box-shadow: none;
}

#container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 960px;
    height: 960px;
}

.row {
    display: flex;
    flex: 1;
}

.col {
    border: 1px solid black;
    flex: 1;
}